<mat-toolbar>
  <mat-toolbar-row>
    <span routerLink="/">My Logo</span>
    <div class="middle" *ngIf="!deviceXs">
        <a mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Home</a>
        <a mat-button routerLink="/shop" routerLinkActive="active">Shop</a>
        <a mat-button routerLink="/test-error" routerLinkActive="active">Errors</a>
        <a mat-button routerLink="/">Contact</a>
    </div>
    <div class="right">
      <a mat-icon-button>
          <mat-icon matBadge="5" matBadgeOverlap="false" matBadgeColor="warn">
            shopping_cart
          </mat-icon>
      </a>
      <a mat-stroked-button>Login</a>
      <a mat-stroked-button>Sign up</a>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="deviceXs" class="center">
    <div class="middle">
      <a mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Home</a>
      <a mat-button routerLink="/shop" routerLinkActive="active">Shop</a>
      <a mat-button routerLink="/test-error" routerLinkActive="active">Errors</a>
      <a mat-button routerLink="/">Contact</a>
  </div>
  </mat-toolbar-row>
</mat-toolbar>
