mat-toolbar-row,
mat-toolbar-row .middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
mat-toolbar span {
  cursor: pointer;
  user-select: none;
}
a {
  margin-left: 1rem;
  text-decoration: none;
}
.center {
  display: flex;
  justify-content: center;
}
.middle a {
  color: black;
  font-size: 16px;
}
.right {
  display: flex;
  align-items: center;
}
.right a:first-child {
  margin-right: 1.7rem;
}
mat-icon {
  font-size: 1.9rem;
  text-align: center;
}
.active {
  color: white !important;
  background-color: #fc857d;
}
