<div class="shipping">
  <div class="row m-auto container  text-center">
    <div class="col box">
      <i class="fas fa-box-open"></i>
      <div class="box-content d-flex flex-column align-items-start">
        <span>Free</span>
        <span>Shipping</span>
     </div>
    </div>
    <div class="col">
      <i class="fab fa-cc-stripe"></i>
      <div class="box-content d-flex flex-column align-items-start">
        <span>Safe</span>
        <span>Payement</span>
     </div>
    </div>
    <div class="col">
      <i class="fas fa-shipping-fast"></i>
     <div class="box-content d-flex flex-column align-items-start">
      <span>Fast</span>
      <span>Shipping</span>
     </div>
    </div>
    <div class="col">
      <i class="fas fa-undo-alt"></i>
      <div class="box-content d-flex flex-column align-items-start">
        <span>30 Days</span>
        <span>Money Back</span>
     </div>
    </div>
  </div>
</div>
