<nav>
     <mat-toolbar>
        <span>My Website</span>
        <div class="middle">
            <a mat-button href="">Home</a>
            <a mat-button href="">Shop</a>
            <a mat-button href="">Contact</a>
            <a mat-button href="">Pricing</a>
        </div>
        <div class="right">
          <a mat-icon-button>
              <mat-icon matBadge="5" matBadgeOverlap="false" matBadgeColor="warn">
                shopping_cart
              </mat-icon>
          </a>
          <a mat-stroked-button>Login</a>
          <a mat-stroked-button>Sign up</a>
        </div>
    </mat-toolbar>
</nav>
